
.container
    width: 100dvw
    height: 100dvh
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    left: 0
    top: 0
    z-index: 100
    background-color: var(--body-color)
    &_panel
        width: calc(100dvw - 70px)
        right: 0
        left: auto
.preloader
    width: 40px
    height: 40px
    border-radius: 0
    border-radius: 50%
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    animation: rotate 1.5s linear infinite
    &::before
        content: ""
        box-sizing: border-box
        position: absolute
        inset: 0px
        border-radius: 0
        border-radius: 50%
        border: 3px solid var(--text-color)
        animation: prixClipFix 1.5s linear infinite 

@keyframes rotate
    100%
        transform: rotate(360deg)
    

@keyframes prixClipFix
    0%
        clip-path: polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)
    12%
        clip-path: polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)
    25%
        clip-path: polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)
    37%
        clip-path: polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)
    50%
        clip-path: polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)
    62%
        clip-path: polygon(50% 50%,100% 0,100% 0,100% 100%,0 100%,0 0)
    75%
        clip-path: polygon(50% 50%,100% 100%,100% 100%,100% 100%,0 100%,0 0)
    87%
        clip-path: polygon(50% 50%,0 100%,0 100%,0 100%,0 100%,0 0)
    100%
        clip-path: polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)