// FONTS
$font-main: var(--font-main);

// DECORATIVE
$box-shadow: 0 0 14px 10px rgba(var(--color-main-dark), 0.06);
$ui-border-radius: 8px;
$transition: 0.25s ease;
$color-income: green;
$color-outcome: blue;

// LAYOUT
$mobile-wide-width: 500px;
$desktop-width: 1366px;
$mobile-outer-gap: 24px;
$mobile-inner-gap: 16px;
$desktop-outer-gap: 38px;
$desktop-inner-gap: 26px;
